2017/boards/board_schemas/1.0/board_part.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="board_part">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="part_info">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="part_name"/>
                <xs:attribute type="xs:byte" name="jtag_position"/>
                <xs:attribute type="xs:float" name="silicon_version"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="board_info">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="description"/>
                <xs:attribute type="xs:string" name="display_name"/>
                <xs:attribute type="xs:anyURI" name="url"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="interfaces">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="interface" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="preset_file" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="name"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="port_maps" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="port_map" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="logical_port" use="optional"/>
                                  <xs:attribute type="xs:string" name="physical_port" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="parameters" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="parameter" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                  <xs:attribute type="xs:string" name="value" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="mode" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:string" name="type" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ports">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="port" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="pins">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="pin" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="iostandard" use="optional"/>
                                  <xs:attribute type="xs:string" name="loc" use="optional"/>
                                  <xs:attribute type="xs:byte" name="index" use="optional"/>
                                  <xs:attribute type="xs:byte" name="drive" use="optional"/>
                                  <xs:attribute type="xs:string" name="slew" use="optional"/>
                                  <xs:attribute type="xs:byte" name="fpga_index" use="optional"/>
                                  <xs:attribute type="xs:string" name="fpga_loc" use="optional"/>
                                  <xs:attribute type="xs:string" name="fpga_pin" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="dir" use="optional"/>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:byte" name="left" use="optional"/>
                  <xs:attribute type="xs:byte" name="right" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="board_name"/>
      <xs:attribute type="xs:float" name="board_revision"/>
      <xs:attribute type="xs:string" name="board_part"/>
      <xs:attribute type="xs:float" name="schema_version"/>
      <xs:attribute type="xs:string" name="vendor"/>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>