2017/boards/board_schemas/2.0/board.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="board">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="compatible_board_revisions"/>
        <xs:element ref="file_version"/>
        <xs:element ref="description"/>
        <xs:element ref="parameters"/>
        <xs:element ref="jumpers"/>
        <xs:element ref="components"/>
        <xs:element ref="jtag_chains"/>
        <xs:element ref="connections"/>
      </xs:sequence>
      <xs:attribute name="display_name" use="required"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="schema_version" use="required" type="xs:decimal"/>
      <xs:attribute name="url" use="required"/>
      <xs:attribute name="vendor" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="compatible_board_revisions">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="revision"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="revision">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:NCName">
          <xs:attribute name="id" use="required" type="xs:integer"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="file_version" type="xs:decimal"/>
  <xs:element name="components">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="component"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="component">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="parameters"/>
        <xs:choice minOccurs="0">
          <xs:element ref="interfaces"/>
          <xs:element ref="address_maps"/>
          <xs:element ref="component_modes"/>
          <xs:element ref="partitions"/>
          <xs:element ref="pins"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="part_name" type="xs:NCName"/>
      <xs:attribute name="pin_map_file" type="xs:NCName"/>
      <xs:attribute name="spec_url"/>
      <xs:attribute name="sub_type" type="xs:NCName"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
      <xs:attribute name="vendor"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="address_maps">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="address_map"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="address_map">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="pin"/>
      </xs:sequence>
      <xs:attribute name="address" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="component_modes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="component_mode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="component_mode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="description"/>
        <xs:element ref="interfaces"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="preferred_ips"/>
          <xs:element ref="enablement_dependencies"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="preferred_ipvln" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="partitions" type="xs:NCName"/>
  <xs:element name="pins">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="pin"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jtag_chains">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="jtag_chain"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jtag_chain">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="position"/>
      </xs:sequence>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="position">
    <xs:complexType>
      <xs:attribute name="component" use="required" type="xs:NCName"/>
      <xs:attribute name="name" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="connections">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="connection"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="connection">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="connection_map"/>
      </xs:sequence>
      <xs:attribute name="component1" use="required" type="xs:NCName"/>
      <xs:attribute name="component2" use="required" type="xs:NCName"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="connection_map">
    <xs:complexType>
      <xs:choice minOccurs="0">
        <xs:element ref="enablement_dependencies"/>
        <xs:element ref="nets"/>
      </xs:choice>
      <xs:attribute name="c1_end_index" use="required" type="xs:integer"/>
      <xs:attribute name="c1_st_index" use="required" type="xs:integer"/>
      <xs:attribute name="c2_end_index" use="required" type="xs:integer"/>
      <xs:attribute name="c2_st_index" use="required" type="xs:integer"/>
      <xs:attribute name="component2" type="xs:NCName"/>
      <xs:attribute name="max_delay" type="xs:integer"/>
      <xs:attribute name="min_delay" type="xs:integer"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="typical_delay" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="nets">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="net"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="net">
    <xs:complexType>
      <xs:attribute name="index" use="required" type="xs:integer"/>
      <xs:attribute name="max_delay" use="required" type="xs:integer"/>
      <xs:attribute name="min_delay" use="required" type="xs:integer"/>
      <xs:attribute name="typical_delay" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="parameter"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="parameter">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="readonly" type="xs:boolean"/>
      <xs:attribute name="value"/>
      <xs:attribute name="value_max" type="xs:decimal"/>
      <xs:attribute name="value_min" type="xs:decimal"/>
      <xs:attribute name="value_type" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="jumpers">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="jumper"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="jumper">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="description"/>
      </xs:sequence>
      <xs:attribute name="default_value" type="xs:boolean"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pin">
    <xs:complexType>
      <xs:attribute name="connector_index" type="xs:NCName"/>
      <xs:attribute name="index" use="required" type="xs:integer"/>
      <xs:attribute name="iostandard" type="xs:NCName"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="interfaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="interface"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="interface">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="description"/>
        <xs:element minOccurs="0" ref="preferred_ips"/>
        <xs:choice minOccurs="0">
          <xs:element ref="port_maps"/>
          <xs:element ref="preset_file"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="mode" type="xs:NCName"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="of_component"/>
      <xs:attribute name="preferred_ipvln" type="xs:NMTOKEN"/>
      <xs:attribute name="type" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="port_maps">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="port_map"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="port_map">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pin_maps"/>
      </xs:sequence>
      <xs:attribute name="dir" type="xs:NCName"/>
      <xs:attribute name="left" type="xs:integer"/>
      <xs:attribute name="logical_port" use="required" type="xs:NCName"/>
      <xs:attribute name="name" type="xs:NCName"/>
      <xs:attribute name="physical_port" use="required" type="xs:NCName"/>
      <xs:attribute name="right" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pin_maps">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="pin_map"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pin_map">
    <xs:complexType>
      <xs:attribute name="fpga_pin" use="required" type="xs:NCName"/>
      <xs:attribute name="index" type="xs:integer"/>
      <xs:attribute name="port_index" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="preset_file">
    <xs:complexType>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="preferred_ips">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="preferred_ip"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="preferred_ip">
    <xs:complexType>
      <xs:attribute name="library" use="required" type="xs:NCName"/>
      <xs:attribute name="name" use="required" type="xs:NCName"/>
      <xs:attribute name="preset_file" use="required"/>
      <xs:attribute name="preset_proc" use="required" type="xs:anyURI"/>
      <xs:attribute name="vendor" use="required" type="xs:NCName"/>
      <xs:attribute name="version" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="enablement_dependencies">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="jumpers"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
